textarea,
#paragraph {
  resize: none;
  overflow-wrap: break-word; /* Ensures long words are broken to fit */
  word-wrap: break-word; /* Ensures long words are broken to fit */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}
#btn1{
    background-color: chocolate;
}
#myList{
    margin:2rem;
}
